@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');

html{
    cursor: url('../images/cursor.png'), auto;
}
body {

    margin: 0;
    background-color: #f1f1f1;
    font-family: 'Goudy Bookletter 1911', serif;

}

::selection{
    background: rgb(26, 58, 30);
    color: #ade7c1;
  }

a, button{
    cursor: url('../images/cursor.png'), auto;
}

@font-face{
    font-family: 'torbalan';
    src: url('torbalan.eot');
    /* IE9 Compat Modes */
    src: url('torbalan.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('torbalan.woff') format('woff'),
        /* Modern Browsers */
        url('torbalan.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('torbalan.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

#navbar {
    cursor: url('../images/cursor.png'), auto;
    background-color: #061a0c;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
}

#navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #ddd;
    color: #061a0c;
}

.CenteredDiv {
    margin: auto;
    width: 90%;
}

@media screen and(min-width: 1000px) {
    .CenteredDiv {
        margin: auto;
        width: 90%;
    }
}

#Information {
    color: black;
    margin-top: 6%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-size: cover;
}

.LogosInNav{
    float:left;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

.content {
    padding: 16px;
}

#Information>.CenteredDiv {
    background-image: url('papper.png');

}

#tittlebg {
    background-image: url(blank.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-size: cover;

}