@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');

html {
    cursor: url('../images/cursor.png'), auto;
}

body {
    overflow-x: hidden;
    background-image: url(../images/bg.jfif);
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: larger;

}

::selection {
    background: rgb(26, 58, 30, 0.5);
    color: #ade7c1;
    font-weight: bold;
}

a, button {
    cursor: url('../images/cursor.png'), auto;
}

@font-face {
    font-family: 'torbalan';
    src: url('torbalan.eot');
    /* IE9 Compat Modes */
    src: url('torbalan.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('torbalan.woff') format('woff'),
        /* Modern Browsers */
        url('torbalan.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('torbalan.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

#navbar {
    left: -10px;
    cursor: url('../images/cursor.png'), auto;
    background-color: #91724cc0;
    position: fixed;
    top: 0;
    width: 102%;
    display: block;
    transition: top 0.3s;
    z-index: 15000000;
}

#navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}


.content a::after {
    content: '';
    width: 0%;
    height: 3px;
    display: block;
    background-color: #fff;

}

#navbar a:hover::after {
    width: 100%;
    transition: all .5s;
}

.CenteredDiv {
    margin: auto;
    width: 80%;
}

.Centered {
    margin-left: auto;
    display: flex;
  justify-content: center;
  align-items: center;
    margin-right: auto;
    

}

#Information {
    color: rgb(201, 201, 201);
    margin-top: 6%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-size: cover;
}

.LogosInNav {
    width: auto;
    vertical-align: top;
    height: 50px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 40px;
}

.content {
    padding: 5px;
}



#tittlebg {
    background-image: url(blank.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-size: cover;

}

.compass {
    width: 60%;

}

button {
    border-color: transparent;
    background-color: transparent;
    border-radius: 40%;
    width: 20%;
    z-index: -1000;


}

.tooltip {
    position: relative;
    display: inline;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.container {
    width: 50vw;
    min-height: 20vh;
    height: 30vw;
    position: relative;
    margin: 7%;
}

.box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #0f0f0f;
    background-image: linear-gradient(319deg, rgb(0, 0, 0) 0%, #000000 37%, #383838 100%);
    left: 0;

}

.stack-top {
    margin: 7%;
    transform: rotate(4.5deg);
    height: 100%;

}

#myImage {
    width: auto;
    height: 100%;
}

@font-face {
    font-family: 'torbalanregular';
    src: url('../font/torbalan.woff2') format('woff2'),
        url('../font/torbalan.ttf') format('ttf'),
        url('../font/torbalan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#letter {
    font-family: 'torbalanregular';
    font-weight: bold;
    font-style: normal;
    font-size: larger;
    color: #000000;
    background-image: url("../images/papper_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 90%;
    height: auto;
    padding: 3%;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-button {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #91724c;
    background-clip: padding-box;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: white;
    border-radius: 10px;
    border: 1px rgba(0, 0, 0, 0) solid;
}

#check {
    display: none;
    padding-right: 50px;
}


@media (max-width: 952px) {
    .content {
        font-size: 14px;
    }

    #check {
        display: none;

    }

}

@media (max-width: 858px) {
    #check {
        display: block;

    }

    .content {
        display: none;
    }

}


canvas {
    filter: blur(1px);
}

.box2 {
    position: absolute;
    margin: 10%;
    width: 90%;
    height: auto;
    padding: 3%;

}

#myImg {
    width: 100px;
    height: auto;
}

#d1 {
    position: relative;

    width: 80%;
    height: auto;
    z-index: 1000000;
    top: -17vw;
    right: 10vw;

}

.d3 {
    position: relative;
    display: inline;
    top: -80%;
}

 .d3 :hover {
    top: -1000px;
}



.file {
    height: 100%;
    width: 100%;
}


.files {
    height: 100%;
    width: 100%;
}

.files :hover{
    top: 100px;
}

.button-folder {
    height: auto;
    width: 30%;
    border-color: transparent;
    background-color: transparent;
}

#footer {
    background-color: #101214;
    color: #fff;
    padding: 2%;
    bottom: 0%;
    height: auto;
    width: 100vw;
}

@media screen and (max-width: 900px) {
    
    #hide-footer{
        display: none;
    }
    #about{
        width: fit-content;
    }
    #contact {
        width: fit-content;
    }
    .footer-sections {
        text-align: center;
    }
}

ul {
    list-style-type: none;
}

.footer-sections {
    display: inline-block;
    width: 27%;
    height: auto;
    position: relative;
    text-align: center;
}

a {
    text-decoration: none;
    color: #fff;
}

#BigMaps {
    display: block;
}

#MidMaps {
    display: none;
}

#SmlMaps {
    display: none;
}
.m1923 {
    display: none;
}

@media screen and (max-width: 800px) {
    #BigMaps {
        display: none;
    }

    #MidMaps {
        display: none;
    }
    #SmlMaps {
        display: block;
    }
    
}

@media screen and (max-width: 1200) {
    #BigMaps {
        display: none;
    }

    #SmlMaps {
        display: none;
    }
    #MidMaps {
        display: block;
    }

}



.overlay {
  height: 0vh;
  width: 100vw;
  position: fixed;
  z-index: 10000000000000000000;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  text-align: center;
  top: 25%;
  width: 100%;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 26px;
  color: #818181;
  display: block;
  transition: 0.2s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 30px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 30px;
  top: 15px;
  right: 35px;
  }
}

